## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,0,Salalah,OM,77.00,overcast clouds,17.02,54.09,HAMDAN PLAZA HOTEL
1,1,Ambilobe,MG,76.06,clear sky,-13.20,49.05,Hôtel & Restaurant DIANA Ambilobe
2,5,Bata,GQ,80.60,scattered clouds,1.86,9.77,Hotel Carmen
3,6,Bubaque,GW,79.77,overcast clouds,11.28,-15.83,Casa Dora
4,14,Weligama,LK,81.10,broken clouds,5.97,80.42,Weligama Bay Resort

In [3]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Description</dt><dd>{Current Description}
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [4]:
# 4a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [13]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[(vacation_df['City'] == "Takanabe")]
vacation_end = vacation_df.loc[(vacation_df['City'] == "Takanabe")]
vacation_stop1 = vacation_df.loc[(vacation_df['City'] == "Hofu")]
vacation_stop2 = vacation_df.loc[(vacation_df['City'] == "Muroto")] 
vacation_stop3 = vacation_df.loc[(vacation_df['City'] == "Nakamura")]

In [14]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start[['Lat','Lng']].to_numpy()
end = vacation_end[['Lat','Lng']].to_numpy()
stop1 = vacation_stop1[['Lat','Lng']].to_numpy()
stop2 = vacation_stop2[['Lat','Lng']].to_numpy()
stop3 = vacation_stop3[['Lat','Lng']].to_numpy()

start = (vacation_start['Lat'].to_list()[0], vacation_start['Lng'].to_list()[0])
end = (vacation_end['Lat'].to_list()[0], vacation_end['Lng'].to_list()[0])
stop1 = (vacation_stop1['Lat'].to_list()[0], vacation_stop1['Lng'].to_list()[0])
stop2 = (vacation_stop2['Lat'].to_list()[0], vacation_stop2['Lng'].to_list()[0])
stop3 = (vacation_stop3['Lat'].to_list()[0], vacation_stop3['Lng'].to_list()[0])

In [16]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure()

japan_trip = gmaps.directions_layer(start, end, waypoints = [stop1, stop2, stop3], travel_mode='DRIVING')
fig.add_layer(japan_trip)
fig

Figure(layout=FigureLayout(height='420px'))

In [17]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,374,Takanabe,JP,79.52,clear sky,32.13,131.50,Hotel AZ Miyazaki Takanabe
1,630,Hofu,JP,75.00,clear sky,34.05,131.57,APA HOTEL YAMAGUCHI-HOFU
2,557,Muroto,JP,83.75,clear sky,33.28,134.15,Oota Ryokan
3,510,Nakamura,JP,77.67,clear sky,32.98,132.93,Hotel Crown Hills Nakamura

In [18]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description}<dd>{Max Temp} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [19]:
# 11a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))